* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background {
  position: relative;
  background-color: aqua;
  height: 700px;
  width: 800px;
  left: 73px;
  top: 100px;
  border: 6px solid black;
}

.roof {
  position: absolute;
}

.walls {
  border: 4px solid;
  border-bottom: 0;
  position: absolute;
  height: 400px;
  width: 600px;
  background-color: burlywood;
  bottom: 0;
  left: 90px;
}

.door {
  position: absolute;
  border-bottom: 0;
  height: 200px;
  width: 120px;
  background-color: khaki;
  border: 3px solid;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}

.door-knob {
  position: absolute;
  height: 15px;
  width: 15px;
  top: 50%;
  left: 10px;
  border-radius: 50%;
  background-color: #6e5440;
  border: 2px solid;
}

.roof {
  width: 0px;
  height: 0px;
  left: 20px;
  border-bottom: 300px solid #6e5440;
  border-left: 370px solid transparent;
  border-right: 370px solid transparent;
  z-index: 1;
}

.roof-hole {
  position: absolute;
  height: 100px;
  width: 100px;
  background: rgb(56, 37, 9);
  border-radius: 50%;
  border: 5px solid;
  top: 140px;
  left: 43%;
  z-index: 2;
}
